<div class="jumbotron text-center">
  <h1>Welcome to Riverside i/o</h1>
  <h4>Where the coolest people in town meet</h4>
  <%= link_to "Request Wifi password", new_password_request_path, class: 'button button-main btn btn-primary' %>
</div>
