<div class="container">
  <h1 id="super-hero-header">Welcome to Riverside i/o</h1>
  <h4 id="sub-hero-header">Where the coolest people in town meet</h4>
  <%= link_to "Request Wifi password", new_password_request_path, class: 'button button-main btn btn-primary' %>
</div>
