%h1 Credentials

%table
  %thead
    %tr
      %th Username
      %th Password
      %th Expiration
      %th Assigned To
  %tbody
    - @credentials.each do |credential|
      %tr
        %td= credential.username
        %td= credential.password
        %td= credential.expiration
        %td= credential.password_request&.email

