<p>Congratulations, your request for credentials was approved.</p>

<p><strong>SSID: </strong> ucrwpa</p>
<p><strong>Username: </strong> <%= @credential.username %></p>
<p><strong>Password: </strong> <%= @credential.password %></p>

<p>These credentials will expire on <%= @credential.expiration %>

